<table>
  <tr>
    <th>Item</th>
    <th>Max Bid</th>
    <th>Price</th>
    <th>Won?</th>
    <th>End Date</th>
    <th>Bid History</th>
  </tr>
  <% @user.buyer.unique_listings.each do |listing| %>
    <% if listing.inactive? %>
      <tr>
        <td><%= link_to listing.item.name, listing_path(listing) %></td>
        <td><%= number_to_currency(listing.highest_bid_by_user(@user).amount / 100.0) %></td>
        <td><%= number_to_currency(listing.current_price / 100.0) %></td>
        <td><%= (listing.highest_bidder == @user)? "Y" : "N" %></td>
        <td><%= listing.end_time %></td>
        <% user_bids = [] %>
        <td><% listing.bids.each do |bid| %>
            <% if bid.buyer.user == @user %>
              <% user_bids << bid %>
            <ul>
              <li><%= number_to_currency(bid.amount / 100.0) %> at <%= bid.created_at %>
              <% end %></li>
            </ul>
            <% end %>
            Total Bids on item: <%= user_bids.count %>
          </td>
          <%if listing.sale%>
            <td><a href="/listings/<%= listing.id %>/sales/<%= listing.sale.id %>/reviews/new">Review</a></td>
          <%end%>
      </tr>
    <% end %>
  <% end %>
</table>
