<h1><%= @user.first_name.capitalize %>'s Dashboard</h1>

  <%= render 'currently_bidding' %>

<h3>Ended</h3>

  <%= render 'ended_bids' %>

<h3>Watching</h3>

  <%= render 'watching' %>

<h3>Selling: Active Listings</h3>

  <%= render 'selling_active' %>

<h3>Selling: Completed Listings</h3>

  <%= render 'selling_completed' %>



  <%= render 'recently_viewed' %>


