
<h2>Inbox</h2>
<table>
  <tr>
    <th>Subject</th>
    <th>Sender</th>
    <th>Time</th>
    <th>Status</th>
  </tr>
  <% @user.received_messages.each do |message| %>
    <tr>
      <td><%= link_to message.subject, listing_message_path(message.listing, message) %></td>
      <td><%= message.sender.email %></td>
      <td><%= message.created_at %></td>
      <td><%= message.read? ? "Read" : "Unread" %></td>
    </tr>
  <% end %>
</table>
  

<h2>Sent</h2>

<table>
  <tr>
    <th>Subject</th>
    <th>Recipient</th>
    <th>Time</th>
    <th>Status</th>
  </tr>
  <% @user.sent_messages.each do |message| %>
    <tr>
      <td><%= link_to message.subject, listing_message_path(message.listing, message) %></td>
      <td><%= message.recipient.email %></td>
      <td><%= message.created_at %></td>
      <td><%= message.read? ? "Read" : "Unread" %></td>
    </tr>
  <% end %>
</table>