<%=render partial:"layouts/header", locals:{title: "Message"}%>
<div class="page-content">
  <div class="container">

<% if @message.recipient == current_user || @message.sender == current_user %>
  <p>

    Recipient: <%= @message.recipient.email %><br>
    Sender: <%= @message.sender.email %><br>
    Time: <%= @message.created_at %><br><br>
    Listing: <%= link_to @message.listing.item.name, @message.listing %><br><br>
    Subject: <%= @message.subject %><br><br>

    Message: <%= @message.content %>

  </p>

  <%= form_for [@message.listing, @message] do |f|%>
    <% if @message.recipient == current_user %>
      <%= f.hidden_field :recipient_deleted, value: "true" %>
    <% else %>
      <%= f.hidden_field :sender_deleted, value: "true" %>
    <% end %>
    <%= f.submit "Delete" %>
  <% end %><br>

<% if @message %>
  <h4><strong>Reply</strong></h4>
  <%= render 'form' %>
  <%= link_to "Back to messages", messages_path %>
<% end %>

<% else %>
  <p>
    You do not have access to this page.
  </p>
<% end %>

  </div>
</div>
