<%=render partial:"layouts/header", locals:{title: "Message"}%>
<div class="page-content">
  <div class="container">

<% if @message.recipient == current_user || @message.sender == current_user %>
  <p>
    <h4>Recipient: <%= @message.recipient.email %></h4>
    <h4>Sender: <%= @message.sender.email %></h4>
    <h4>Time: <%= @message.created_at %></h4>
    <h4>Listing: <%= link_to @message.listing.item.name, @message.listing %></h4>
    <h4>Subject: <%= @message.subject %></h4><br>
    <h4>Message: <%= @message.content %></h4>
  </p><br>

<% if @message %>
  <h4><strong>Reply</strong></h4>
  <%= render 'form' %>
  <%= link_to "Back to messages", messages_path %>
<% end %>

<% else %>
  <p>
    You do not have access to this page.
  </p>
<% end %>
  </div>
</div>
