<% if @listing.active? %>

  <h3>Place Bid:</h3>
    <%= render 'place_bid' %>


  <br>
  <h4>Current Price: <%= number_to_currency(@listing.current_price / 100.0) if @listing.current_price %></h4><br>
  <h4>Bids: <%= @listing.bids.size %><h4> <br>
  <h4>Highest Bidder: <%= link_to @listing.highest_bidder.name, user_path(@listing.highest_bidder) if @listing.highest_bidder %></h4><br>
  <br>
  <h4>Item Bid History:</h4>
  <ol>
  <% @past_bids.each do |bid| %>
      <p>
        <% if bid.amount > @listing.highest_bid.amount || bid.amount > @listing.current_price %>
      <li><%= bid.buyer.user.name %>, <%= number_to_currency(@listing.current_price / 100.0) %>, <%= bid.created_at %></li>
      <% else %>
      <li><%= bid.buyer.user.name %>, <%= number_to_currency(bid.amount / 100.0) %>, <%= bid.created_at %></li>
      <% end %>
  <% end %>
  </ol>

<% else %>
  <% bid_view_obj = BidViewObject.new(@listing, current_user) %>
  <h4><strong>Auction Over
  <% if bid_view_obj.can_create_invoice? %>
    <%= link_to "Create and Send Invoice", new_listing_sale_path(@listing)%></a>
  <% elsif @listing.sale && (current_user == @listing.seller.user || current_user == @listing.highest_bidder)%>
    <%= link_to "Invoice Sent at #{@listing.sale.updated_at}", new_listing_sale_path(@listing)%></a></strong></h4><br>
    </p>
  <% end %>
<% end %>
<br>
