<div>
  
  <% if @listing.item.pictures.empty? %>

    <div class="col-md-3 col-sm-3 thumbnail">
      <img src="<%=@listing.item.picture_url%>" >
    </div>

  <% else %>

    <% @listing.item.pictures.each do |picture| %>
      <a href="<%= picture.image.url(:medium) %>" class="colorbox"><img src="<%=picture.image.url(:thumb) %>" ></a>
    <% end %>

  <% end %>
</div>

<table class = "table table-striped table-bordered">
  <th>Description</th>
  <th>Condition</th>
  <th>Shipping Price</th>
  <th>Seller</th>
  <tr class="success">
    <td><%= listing.item.description %></td>
    <td><%= listing.item.condition.description %></td>
    <td><%= number_to_currency(listing.shipping_price / 100.0) %></td>
    <td> <%= link_to listing.seller.user.email, user_path(listing.seller.user) %></td>
  </tr>
</table>






