<div class="row padd20-top-btm">
  <div class="col-md-12 t-center">

<h4>Description:<%= @listing.item.description %></h4>
<h4>Condition:<%= @listing.item.condition.description %></h4>
<h4>Category:<%= @listing.item.category.name %></h4>
<p>

    <% if @listing.item.pictures.empty? %>

      <div class="col-md-3 col-sm-3 thumbnail">
        <img src="<%=@listing.item.picture_url%>" >
      </div>

    <% else %>

      <% @listing.item.pictures.each do |picture| %>
        <a href="<%= picture.image.url(:medium) %>" class="colorbox"><img src="<%=picture.image.url(:thumb) %>" ></a>
      <% end %>
    <% end %>


