<h4>Start Price: <%= number_to_currency(@listing.starting_price / 100.0) %></h4> <br>
<h4>Shipping Price: <%= number_to_currency(@listing.shipping_price / 100.0) %></h4> <br>
<h4>Start Time: <%= @listing.start_time %></h4> <br>
<h4>End Time: <%= @listing.end_time %></h4> <br>
<h4>Time Left: <%= @listing.time_left %></h4> <br>
<h4>Seller: <%= link_to @listing.seller.user.email, user_path(@listing.seller.user) %></h4> <br>
