<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span> <%= @listing.item.name %> </h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->

<div class="page-content">
  <div class="container">

    <div>
      <%= render 'watchlist' %>
    </div>

    <div>
      <%= render 'item_description' %>
    </div>

    <div>
      <%= render 'bid_info' %>
    </div>

    <div>
      <%= render 'listing_details' %>
    </div>
  </div>
</div>
