<h1> <%= @listing.item.name %> </h1>

<div>
  <%= render 'watchlist' %>
</div>

<div>
  <%= render 'item_description' %>
</div>

<div>
  <%= render 'bid_info' %>
</div>

<div>
  <%= render 'listing_details' %>
</div>

<br>
<%= link_to "Ask seller a question about this item", new_listing_message_path(@listing) %>

