
<h1> <%= @listing.item.name %> </h1> <br>
Description: <%= @listing.item.description %> <br>
Condition: <%= @listing.item.condition.description %> <br>

<% if @listing.watchlists %>
  <p><%= @listing.watchlist_total %> watchers</p>
<% end %> 

<% if Watchlist.already_watched?(current_user.id, @listing.id) %>
  <% watchlist = Watchlist.find_watchlist(current_user.id, @listing.id) %>
  You are already watching this listing. Happy bidding!
  <br>
  <%= link_to "Unwatch", watchlist_path(:id => watchlist.first.id, :listing_id => watchlist.first.listing.id), :method => :delete %>
<% else %>
  <%= link_to "Watch this item", watchlists_path(:listing_id => @listing.id), :method => :post %>
<% end %>
<p><img src="<%= @listing.item.picture_url %>" height="200" width="200" />  <br></p>

<br>
<% if @listing.active? %>
Place Bid:
<%= form_for(@bid) do |f| %>
  <%= f.number_field :amount, class: 'text_field', step: 0.01, min: (@listing.min_bid_amount / 100.0), :value => (number_with_precision(f.object.amount, :precision => 2) || 0)%>
  <%= f.hidden_field :listing_id, value: @listing.id %>
  <%= f.submit "Place Bid" %>
<% end %>
<% else %>
  Auction Over
  <% if @listing.seller.user == current_user && @listing.bids.size >= 1 && !@listing.sale %>
    <%= link_to "Create and Send Invoice", new_listing_sale_path(@listing)%></a>
    <% elsif @listing.sale %>
    <%= link_to "Invoice Sent at #{@listing.sale.updated_at}", new_listing_sale_path(@listing)%></a>
  <% end %>
<% end %>

<br>
Current Price: <%= number_to_currency(@listing.current_price / 100.0) if @listing.current_price %><br>
Bids: <%= @listing.bids.size %> <br>
Highest Bidder: <%= link_to @listing.highest_bidder.name, user_path(@listing.highest_bidder) if @listing.highest_bidder %><br>
<br>
Item Bid History:
<ol>
<% @past_bids.each do |bid| %>
<li><%= bid.buyer.user.name %>, <%= bid.amount %>, <%= bid.created_at %></li>
<% end %>
</ol>


Start Price: <%= number_to_currency(@listing.starting_price / 100.0) %> <br>
Shipping Price: <%= number_to_currency(@listing.shipping_price / 100.0) %> <br>
Start Time: <%= @listing.start_time %> <br>
End Time: <%= @listing.end_time %> <br>
Time Left: <%= @listing.time_left %> <br>
Seller: <%= link_to @listing.seller.user.email, user_path(@listing.seller.user) %> <br>
