
<%=render partial:"layouts/header", locals:{title: @listing.item.name}%>

  <div class="container">

    <div>
      <%= render partial: 'item_description', locals: {listing: @listing} %>
    </div>

    <% if @listing.active? %>
      
      <div id="bid-and-watchlist">

        <div class="bid-section" id="place-bid">
          <%= render partial: 'place_bid', locals: {listing: @listing, bid: @bid} %>
        </div> 

        <div class="bid-section" id="watchlist-counter">
          <%= render partial: 'watchlist', locals: {listing: @listing} %>
        </div>

        <div class="bid-section" id="questions">
          <h3>Questions?</h3>
          <%= link_to "Ask the seller", new_listing_message_path(@listing), :class => "btn btn-black" %>
        </div>

      </div>

    <% else %>

      <%= render 'auction_over' %>

    <% end %>

    <div id="auction-snapshot">
      <%= render partial: 'auction_snapshot', locals: {listing: @listing} %>
    </div>

      <div id="clock">
        <%= render 'clock' %>
      </div>

      <div>
        <%= render partial: 'bid_history', locals: {listing: @listing} %>
      </div>

  </div>

