<%=render partial:"layouts/header", locals:{title: "Advanced Analytics"}%>

<div class="container" id="analytics-container">
  <%=link_to 'Back to Analytics', analytics_path, :class => "btn btn-black category-btn"%>
  
  <h2>Highest Sale Price this Month</h2><br>

  <% Sale.order(price: :desc).where(created_at: Date.today.beginning_of_month..Date.today.end_of_month).each_with_index do |sale,index| %>
    <h4><%="#{index + 1}. "%> <%=link_to sale.listing.item.name, listing_path(sale.listing)%></h4>
    <p>
    <ul>
      <li><h5>Sale Price: <%= number_to_currency(sale.price/ 100.0)%></h5></li>
    </ul>
    </p>
  <% end%>
</div>
