<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span> Analytics</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->


<%@analytic = AnalyticViewObject.new %>
<div class="container" id="analytics-container">
 <h3>Highest Sale Price To Date:</h3>
 Price: <%= number_to_currency(@analytic.highest_sale_price.price / 100.0) %>
 <br>


 Listing: <%= link_to @analytic.highest_sale_price.listing.item.name, listing_path(@analytic.highest_sale_price.listing) %>

 <h3>Highest Sale Price This Month:</h3>
 Price: <%= number_to_currency(@analytic.highest_sale_this_month.price / 100.0) %>
 <br>


 Listing: <%= link_to @analytic.highest_sale_this_month.listing.item.name, listing_path(@analytic.highest_sale_this_month.listing) %>


 <h3>Most Popular Item (by number of bids)</h3>
 <table class = "table table-striped table-bordered">
  <th>Listing</th>
  <th>Number of Bids</th>
  <th>Current Price</th>
  <th>Auction Status</th>
  <% @analytic.most_popular_by_bids.each do |listing, num_bids| %>
    <tr>
      <td><%= link_to listing.item.name, listing_path(listing) %></td>
      <td><%= num_bids %></td>
      <td><%= number_to_currency(listing.current_price / 100) %></td>
      <td><%= listing.end_time < Time.now ? "Completed" : "Active" %></td>
    </tr>
  <% end %>
</table>

 <h3>Category Rankings</h3>
  <%=bar_chart(@analytic.auctions_by_category)%>


<h3>Users by State</h3>
  <%= pie_chart(@analytic.users_by_state) %>

</div>
