<%=render partial:"layouts/header", locals:{title: "Analytics"}%>


<%@analytic = AnalyticViewObject.new %>
<div class="container" id="analytics-container">

 <h3>Category Rankings</h3>
  <%=bar_chart(@analytic.auctions_by_category)%>


  <h3><%= link_to 'Highest Sale Price To Date:', highest_sale_price_path%></h3>
  <%if Sale.all.count > 0%>
      Price: <%= number_to_currency(@analytic.highest_sale_price.price / 100.0) %><br>
      Listing: <%= link_to @analytic.highest_sale_price.listing.item.name, listing_path(@analytic.highest_sale_price.listing) %>
   <%end%>


  <h3><%= link_to 'Highest Sale Price This Month:', highest_sale_price_month_path%></h3>
  <%if Sale.all.count > 0  %>
    Price: <%= number_to_currency(@analytic.highest_sale_this_month.price / 100.0) %> <br>
    Listing: <%= link_to @analytic.highest_sale_this_month.listing.item.name, listing_path(@analytic.highest_sale_this_month.listing) %>
  <%end%>

 <h3>Average Sale Price This Month:</h3>
 Price: <%= number_to_currency(@analytic.average_sale_this_month/ 100.0) %>
 <br>


 <h3><%= link_to 'Lowest Sale Price This Month:', lowest_sale_price_month_path%></h3>
 <%if Sale.all.count > 0  %>
    Price: <%= number_to_currency(@analytic.lowest_sale_this_month.price / 100.0) %><br>
    Listing: <%= link_to @analytic.lowest_sale_this_month.listing.item.name, listing_path(@analytic.lowest_sale_this_month.listing) %>
 <%end%>

 <h3><%=link_to 'Most Popular Item (by number of bids)', popular_by_bids_path %></h3>
 <%if @analytic.most_popular_by_bids != nil%>
 <table class = "table table-striped table-bordered">
  <th>Listing</th>
  <th>Number of Bids</th>
  <th>Current Price</th>
  <th>Auction Status</th>
  <% @analytic.most_popular_by_bids.each do |listing, num_bids| %>
    <tr>
      <td><center><%= link_to listing.item.name, listing_path(listing) %></center></td>
      <td><center><%= num_bids %></center></td>
      <td><center><%= number_to_currency(listing.default_price / 100)%></center></td>
      <td><center><%= listing.end_time < Time.now ? "Completed" : "Active" %></center></td>
    </tr>
  <% end %>
  <%end%>
</table>

<h3><%=link_to 'Most Watched Item', most_watched_path%></h3>
<%if @analytic.most_watched_listing != nil%>
  <table class = "table table-striped table-bordered">
   <th>Listing</th>
   <th>Number of Watches</th>
   <th>Current Price</th>
   <th>Auction Status</th>
     <tr>
       <td><center><%=link_to @analytic.most_watched_listing.item.name, listing_path(@analytic.most_watched_listing)%></center></td>
       <td><center><%=@analytic.most_watched_listing.watchlist_total%></center></td>
       <td><center><%= number_to_currency(@analytic.most_watched_listing.default_price/100)%></center></td>
       <td><center><%= @analytic.most_watched_listing.end_time < Time.now ? "Completed" : "Active" %></center></td>
     </tr>
  </table>
<%end%>

<h3><%=link_to 'Users by State', state_path %></h3>
  <%= pie_chart(@analytic.users_by_state) %>

</div>
