
<% if @user == current_user%>
  <h3>Hello, <%= @user.first_name %>!</h3>
  <%= link_to "Edit Profile",  edit_user_path %>

  <h3>Account Info</h3>
  <h4>Addresses:</h4>
  <% @user.locations.each do |location| %>
    <%= location.label.capitalize %>:
    <br>
    <%= location.street %>
    <br>
    <%= location.city %>, 
    <%= location.state %>
    <%= location.zip %>
  <% end %>

  <h4>Phone Numbers:</h4>
  <% @user.phones.each do |phone| %>
    <p><%= phone.label %>: <%= phone.number %></p>
  <% end %>

  <h4>Email:</h4>
  <%= @user.email %>
<% else %>
  You do not have access to this profile
<% end %>

