<%=render partial:"layouts/header", locals:{title: "User Profile"}%>

<div class="page-content">
  <div class="container">

<% if @user == current_user%>
  <h1>Hello, <%= @user.first_name %>!</h1>
  <%= link_to "Edit Profile",  edit_user_path, :class => "btn btn-black" %>

  <h2>Account Info:</h2>
  <h3>Addresses:</h3>
  <% @user.locations.each do |location| %>
    <%= location.label.capitalize %>:
    <br>
    <%= location.street %>
    <br>
    <%= location.city %>,
    <%= location.state %>
    <%= location.zip %>
  <% end %>

  <h3>Phone Numbers:</h3>
  <% @user.phones.each do |phone| %>
    <p><%= phone.label %>: <%= phone.number %></p>
  <% end %>

  <h3>Email:</h3>
  <%= @user.email %>
<% else %>
  You do not have access to this profile
<% end %>

</div>
</div>
