<div class = 'category-listings'>
  <%category.active_items.each do |item|%>
  <div>
      <div class="col-md-3 col-sm-3">
      <a href="/listings/<%=item.listing.id%>">
        <div class="thumbnail">
          <img src="<%=item.picture_to_use%>" >
        </div>
      </a>
      <div class="caption-details">
        <h3><a href="/listings/<%=item.listing.id%>"><%=item.name%></h3>
        <span class="price"><%=number_to_currency(item.listing.default_price / 100.0) %></span></a>
        </div>
      </div>
  </div>
  <%end%>
</div>