

<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span> Browse Categories</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->


<%@categories.each do |category|%>
<section>
  <div class="row padd20-top-btm">
    <div class="col-md-12 text-center">
      <button class="btn btn-black category-btn"><%=category.name%></button>
    </div>
  </div>

  <div class = 'category-listings'>
    <%category.items.last(4).each do |item|%>
    <div>
      <li class="col-md-3 col-sm-3">
      <a href="/listings/<%=item.listing.id%>">
        <div class="thumbnail">
          <img src="<%=item.picture_url%>" >
        </div>
      </a>
      <div class="caption-details">
        <h3><a href="/listings/<%=item.listing.id%>"><%=item.name%></a></h3>
        <span class="price"><%=number_to_currency(item.listing.current_price / 100.0) if item.listing.current_price %></span>
        </div>
      </li>
    </div>
    <%end%>
  </div>
</section>
<%end%><br>
