<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span>Review Feedback</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->

<p>
  <%=@review.sale.listing.item.name%><br><br>
</p>
<p>
  <%=@review.sale.listing.item.description%><br>
</p>

<p>
  <img src="<%= @review.sale.listing.item.picture_url %>" height="200" width="200" />  <br></p>
<p>
  Rating: <%=@review.rating%>
</p>

<p>
Comment: <%=@review.comments%>
</p>
