<p>
  <%=@review.sale.listing.item.name%><br><br>
</p>
<p>
  <%=@review.sale.listing.item.description%><br>
</p>

<p>
  <img src="<%= @review.sale.listing.item.picture_url %>" height="200" width="200" />  <br></p>
<p>
  Rating: <%=@review.rating%>
</p>

<p>
Comment: <%=@review.comments%>
</p>
