<%=render partial:"layouts/header", locals:{title: "Review Portal"}%>
<div class="page-content">
  <div class="container">
  <h3> Overall Rating: <%= @user.average_rating %> / 5.0</h3>

<h3>Feedback Received as Seller</h3>
  <table class = "table table-striped table-bordered">
    <%@seller.feedback_received.each do |review|%>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <tr>
      <td><%=link_to review.sale.listing.item.name, review.sale.listing%></td>
      <td><%=review.sale.listing.item.description%></td>
      <td><%=review.rating%></td>
      <td><%=review.comments%></td>
      <td><a href="/listings/<%=review.sale.listing.id%>/sales/<%=review.sale.id%>/reviews/<%=review.id%>">Review</a></td>
    </tr>
    <%end%>
  </table>

<h3>Feedback Given as Seller</h3>
  <table class = "table table-striped table-bordered">
    <%@seller.feedback_given.each do |review|%>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <tr>
      <td><%=link_to review.sale.listing.item.name, review.sale.listing%></td>
      <td><%=review.sale.listing.item.description%></td>
      <td><%=review.rating%></td>
      <td><%=review.comments%></td>
      <td><a href="/listings/<%=review.sale.listing.id%>/sales/<%=review.sale.id%>/reviews/<%=review.id%>">Review</a></td>
    </tr>
    <%end%>
  </table>

<h3>Feedback Received as Buyer</h3>
  <table class = "table table-striped table-bordered">
    <%@buyer.feedback_received.each do |review|%>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <tr>
      <td><%=link_to review.sale.listing.item.name, review.sale.listing%></td>
      <td><%=review.sale.listing.item.description%></td>
      <td><%=review.rating%></td>
      <td><%=review.comments%></td>
      <td><a href="/listings/<%=review.sale.listing.id%>/sales/<%=review.sale.id%>/reviews/<%=review.id%>">Review</a></td>
    </tr>
    <%end%>
  </table>

<h3>Feedback Given as Buyer</h3>
  <table class = "table table-striped table-bordered">
    <%@buyer.feedback_given.each do |review|%>
    <tr>
      <th>Item</th>
      <th>Description</th>
      <th>Rating</th>
      <th>Comments</th>
      <th></th>
    </tr>
    <tr>
      <td><%=link_to review.sale.listing.item.name, review.sale.listing%></td>
      <td><%=review.sale.listing.item.description%></td>
      <td><%=review.rating%></td>
      <td><%=review.comments%></td>
      <td><a href="/listings/<%=review.sale.listing.id%>/sales/<%=review.sale.id%>/reviews/<%=review.id%>">Review</a></td>
    </tr>
    <%end%>
  </table>
</div>
</div>
