<!-- begin:heading -->
<div class="heads">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span>//</span>Sale</h2>
      </div>
    </div>
  </div>
</div>
<!-- end:heading -->

<% if @sale.buyer == current_user.buyer %>

  <!-- move this to a partial: -->
  <h4>Invoice sent at <%= @sale.created_at %></h4><br>


  <h4>Item: <%=link_to @sale.listing.item.name, @sale.listing%></h4> <br>
  <h4>Sale Price: <%=number_to_currency(@sale.listing.current_price / 100.0)%></h4><br>
  <h4>Shipping Price: <%=number_to_currency(@sale.listing.shipping_price / 100.0)%></h4><br>
  <h4>Total: <%=number_to_currency((@sale.listing.shipping_price + @sale.listing.current_price) / 100.0)%></h4><br>

  <h4>Seller: <%=@sale.seller.user.email%></h4><br><br>

  <% if @sale.charge %>
    <h4>You paid for this item on <%= @sale.charge.created_at %></h4>
  <% else %>
    <%= form_tag charges_path do %>
      <%= hidden_field_tag 'sale_id', @sale.id %>
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
        data-image="/img/documentation/checkout/marketplace.png"
        data-name="<%= @sale.item.name %>"
        data-description="2 widgets"
        data-amount="<%= @sale.price %>"
        data-email="<%= @sale.buyer.user.email %>"
        data-locale="auto">
      </script>
    <% end %>
  <% end %>

<% elsif @sale.seller == current_user.seller %>

<!-- move this to a partial: -->
  <h4>Invoice sent at <%= @sale.created_at %></h4><br>

  <h4>Item: <%=link_to @sale.listing.item.name, @sale.listing%></h4> <br>
  <h4>Sale Price: <%=number_to_currency(@sale.listing.current_price / 100.0)%></h4><br>
  <h4>Shipping Price: <%=number_to_currency(@sale.listing.shipping_price / 100.0)%></h4><br>
  <h4>Total: <%=number_to_currency((@sale.listing.shipping_price + @sale.listing.current_price) / 100.0)%></h4><br><br>

  <% if @sale.charge %>
    <%=@sale.buyer.user.email%> paid for this item on <%= @sale.charge.created_at %>
  <% else %>
    <h4>Awaiting payment from <%=@sale.buyer.user.email%></h4>
    <br>
    <h4><strong><a href="/listings/<%= @sale.listing.id %>/sales/<%= @sale.id %>/reviews/new">Leave a Review</a></strong></h4>
  <% end %>
<% end %>
