<!-- <% if current_user %> -->
<p align="right" style="padding-right:20px">
<i>logged in as <a href="/users/<%="#{current_user.id}"%>"><%= current_user.email %></a></i>
</p>

    <!-- <a href="/users/<%="#{current_user.id}"%>">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/listings/new">Create Listing</a>
    <a href="/listings">View All Listings</a>
    <a href="/categories">Browse Categories</a>
    <a href="/users/<%="#{current_user.id}"%>/reviews">Review Portal</a>
    <a href="/logout">Sign Out</a> -->
      <%= render "/layouts/search" %>

<!-- <% else %> -->
   <a href="/signup">Sign Up!</a></li>
   <a href="/login">Login</a></li>
   <%= render "/layouts/search" %>

<!-- <%end%> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <% if current_user %>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Dodolan Manuk</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->

    <ul class="nav navbar-nav nav-left">
      <li><a href="/users/<%="#{current_user.id}"%>">Home</a></li>
      <li><%= render "/layouts/search" %></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/listings/new">Create Listing</a></li>
      <li><a href="/categories">Browse Categories</a></li>
      <li><a href="/listings">View All Listings</a></li>
      <li><a href="/users/<%="#{current_user.id}"%>/reviews">Review Portal</a></li>
      <li>
        <a
        <a href="/logout">Sign Out</a></li>
    </ul>

  </div><!-- /.navbar-collapse -->

<%end%>
</nav>
