<% if current_user %>
<p align="right" style="padding-right:20px">
<i>logged in as <a href="/users/<%="#{current_user.id}"%>"><%= current_user.email %></a></i>
</p>

      <a href="/users/<%="#{current_user.id}"%>">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/listings/new">Create Listing</a>
      <a href="/listings">View All Listings</a>
      <a href="/categories">Browse Categories</a>
      <a href="/logout">Sign Out</a>
      <%= render "/layouts/search" %>

<% else %>
   <a href="/signup">Sign Up!</a></li>
   <a href="/login">Login</a></li>
   <%= render "/layouts/search" %>

<%end%>
