<% if current_user %>
<p align="right" style="padding-right:20px">
<i>logged in as <a href="/users/<%="#{current_user.id}"%>"><%= current_user.email %></a></i>
</p>

      <a href="/user/<%="#{current_user.id}"%>">Home</a>
      <a href="/dashboard">Dashboard</a>
      <a href="/listings/new">Create Listing</a>
      <a href="/logout">Sign Out</a>
      <%= render "/layouts/search" %>

<% else %>
   <ul class="nav navbar-nav navbar-right">
       <li><a href="/signup">Sign Up!</a></li>
   </ul>
   <ul class="nav navbar-nav navbar-right">
       <li><a href="/login">Login</a></li>
   </ul>
   <%= render "/layouts/search" %>

<%end%>

