<!-- <% if current_user %> -->
<p align="right" style="padding-right:20px">
<i>logged in as <a href="/users/<%="#{current_user.id}"%>"><%= current_user.email %></a></i>
</p>

    <!-- <a href="/users/<%="#{current_user.id}"%>">Home</a>
    <a href="/dashboard">Dashboard</a>
    <a href="/listings/new">Create Listing</a>
    <a href="/listings">View All Listings</a>
    <a href="/categories">Browse Categories</a>
    <a href="/users/<%="#{current_user.id}"%>/reviews">Review Portal</a>
    <a href="/logout">Sign Out</a> -->
      <%= render "/layouts/search" %>

<!-- <% else %> -->
   <a href="/signup">Sign Up!</a></li>
   <a href="/login">Login</a></li>
   <%= render "/layouts/search" %>

<!-- <%end%> -->

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <% if current_user %>
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-xs" href="#">Dodolan Manuk</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-left">
      <li class="active"><a href="/users/<%="#{current_user.id}"%>">Home</a></li>
      <li><%= render "/layouts/search" %></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/listings/new">Create Listing</a></li>


    <!-- <a href="#" class="logo visible-lg visible-md"><img src="img/logo.jpg" alt="dodolan manuk responsive catalog themes"></a>
    <div id="brand" class="visible-lg visible-md">&nbsp;</div> -->
      <li><a href="/listings">View All Listings</a></li>
      <li><a href="/categories">Browse Categories</a></li>
      <li><a href="/users/<%="#{current_user.id}"%>/reviews">Review Portal</a></li>
      <li>
        <a
        <a href="/logout">Sign Out</a></li>
      <ul class="dropdown-menu">
        <li><a href="product.html">Canary</a></li>
        <li><a href="product.html">Emprit</a></li>
        <li>
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Doro <i class="fa fa-caret-down icon-dropdown"></i></a>
        <ul class="dropdown-menu sub-menu">
          <li><a href="product.html">Doro Pos</a></li>
          <li><a href="product.html">Doro Kucir</a></li>
          <li><a href="product.html">Doro Belehan</a></li>
          <li><a href="product.html">Doro Sungut</a></li>
        </ul>
        </li>
        <li class="divider"></li>
        <li><a href="product.html">Pitik</a></li>
        <li><a href="product.html">Cucak Rowo</a></li>
      </ul>
      </li>
      <li class="dropdown">

      <ul class="dropdown-menu">
        <li><a href="blog.html">Blog 1</a></li>
        <li><a href="blog2.html">Blog 2</a></li>
        <li><a href="single.html">Single 1</a></li>
        <li><a href="single2.html">Single 2</a></li>
      </ul>
      </li>
    </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <%end%>
  </nav>
