<!DOCTYPE html>
<html>
<head>
  <title>EBae</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="description" content=" responsive catalog themes built with twitter bootstrap">
    <meta name="keywords" content="responsive, catalog, cart, themes, twitter bootstrap, bootstrap">
    <meta name="author" content="afriq yasin ramadhan">
    <link rel="shortcut icon" href="img/favicon.png">
    
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "https://checkout.stripe.com/checkout.js" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  
</head>
<body>



<%= render "/layouts/navbar" %>

  <%= yield %>




</body>
</html>
